{{#link-to 'question' question.id}}
<div class="question">
  <li>
    {{question.author}}
    is this blue?
  </li>
</div>
{{/link-to}}

{{#if isImageShowing}}
{{update-question question=question update="update"}}
  <p>
    true
  </p>
{{else}}
  <button {{action 'imageShow' rental}}>Update</button>
  <p>
    goodbye
  </p>
{{/if}}
