<h1>QMaster</h1>
<h3>The question & answer site to use when you can't google stuff!</h3>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">QMaster</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="page-footer foot-copyright">
  <div class="footer-copyright">
    <div class="container">
    © 2017 Daniel Munger
    <a class="grey-text text-lighten-4 right" href="/">Home</a>
    </div>
  </div>
</footer>
